{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <!-- Article List -->

            <div class="col-sm-12 col-md-8">

                <!-- H1 Article -->
                <a class="main-article-link" href="#">
                    <div class="main-article mb-5 pb-3">
                        <img src="{{ asset('images/cursus-rocmondriaan.jpeg') }}" alt="meteor shower">
                        <h1 class="text-center mt-2">Cursus op het ROC MONDRIAAN: <br>Hoe gaan wij te werk in de coronatijd?</h1>
                    </div>
                </a>

                <!-- Supporting Articles -->

                <div class="article-container my-1">
                    <a href="{{ path('article_show', {slug: 'leerlingenlijst-2021-2022'}) }}">
                        <img class="article-img" src="{{ asset('images/asteroid.jpeg') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>Bekijk hier de leerlingenlijst voor 21/22</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> Mike Ferengi </span>
                            <span class="pl-5 article-details float-right"> 3 hours ago</span>
                        </div>
                    </a>
                </div>

                <div class="article-container my-1">
                    <a href="#">
                        <img class="article-img"  src="{{ asset('images/mercury.jpeg') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>Life on Planet Mercury: <br> Tan, Relaxing and Fabulous</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}"> Amy Oort </span>
                            <span class="pl-5 article-details float-right"> 6 days ago</span>
                        </div>
                    </a>
                </div>

                <div class="article-container my-1">
                    <a href="#">
                        <img class="article-img" src="{{ asset('images/lightspeed.png') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <span>Light Speed Travel: <br> Fountain of Youth or Fallacy</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/astronaut-profile.png') }}"> Amy Oort </span>
                            <span class="pl-5 article-details float-right"> 2 weeks ago</span>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Right bar ad space -->


            <div class="col-sm-12 col-md-4 text-center">
                <div class="ad-space mx-auto mt-1 pb-2 pt-2">
                    <img class="advertisement-img" src="{{ asset('images/rooster_rocmondriaan.png') }}">
                    <p><span class="advertisement-text">Nieuw:</span>Bekijk je rooster voor het komende jaar!</p>
                    <button class="btn btn-info">Kijk hier</button>
                </div>

                <div class="quote-space pb-2 pt-2 px-5">
                    <h3 class="text-center pb-3">Meningen van scholieren en docenten</h3>
                    <p><i class="fa fa-comment"></i> "Erg fijne school waarbij ik de hulp krijg die ik nodig heb." <br>— <a href="https://en.wikipedia.org/wiki/Wernher_von_Braun">Thomas van Dalen, Leerling</a></p>

                    <p class="pt-4"><i class="fa fa-comment"></i> "Ik probeer als docent zo goed als ik kan de leerlingen te helpen, hierdoor leer ik zelf ook nog is dingen. " <br>— <a href="https://en.wikipedia.org/wiki/Aaron_Cohen_(Deputy_NASA_administrator)">Meneer van Wien, Docent Applicatieontwikkeling</a></p>

                    <p class="pt-4"><i class="fa fa-comment"></i> "De sfeer op de campus is erg prettig docenten en leerlingen gaat met plezier naar de campus."<br>— <a href="https://en.wikipedia.org/wiki/Christa_McAuliffe">Mevrouw Zwager, directrice ROC Mondriaan</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}