{%  extends 'base.html.twig' %}



{%  block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="show-leerlingenlijst-title-container d-inline-block pl-3 align-middle">
                                <span class="show-article-title ">De leerlingenlijst van 2021/2022</span>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="leerlingenlijst">
                                <table>
                                    <tr>
                                    <th>Voornaam</th>
                                    <th>Tussenvoegsel</th>
                                    <th>Achternaam</th>
                                    </tr>

                                {% for leerling in leerlingen %}
                                <tr>
                                    <td>{{ leerling.voornaam }}</td>
                                    <td>{{ leerling.tussenvoegsel }}</td>
                                    <td>{{ leerling.achternaam }} </td>
                                    </tr>
                                {% endfor %}
                                </table>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/article_show.js') }}"></script>
{% endblock %}